Repository Granulate/gprofiler, pull requests merged in 2022-10, with the labels that each got.

#519 lint: Upgrade flake8
  dev-requirements.txt
Labels: tests

#517 Use snapshot_pid function instead of snapshot_one in tests
  tests/test_java.py
  tests/test_sanity.py
  tests/utils.py
Labels: tests

#451 Make NodeJS profiling attachable
  Dockerfile
  README.md
  dev-requirements.txt
  gprofiler/main.py
  gprofiler/metadata/application_metadata.py
  gprofiler/metadata/versions.py
  gprofiler/profilers/node.py
  gprofiler/profilers/perf.py
  gprofiler/utils/__init__.py
  mypy.ini
  pyi.Dockerfile
  requirements.txt
  scripts/build_aarch64_container.sh
  scripts/build_aarch64_executable.sh
  scripts/build_node_package.sh
  scripts/build_x86_64_executable.sh
  scripts/list_needed_libs.sh
  scripts/node_builder_glibc_env.sh
  scripts/node_builder_musl_env.sh
  tests/conftest.py
  tests/containers/nodejs/Dockerfile
  tests/test_node.py
  tests/test_perf.py
  tests/test_sanity.py
Labels: runtime/node

#532 Add --no-dotnet flag to profiler flags fixture in tests
  tests/conftest.py
Labels: tests

#539 Update zlib version to 1.2.13
  scripts/prepare_machine-unknown-linux-musl.sh
Labels: build

#530 Upgrade libunwind to latest stable version (v1.5.0 -> v1.6.2)
  pyi.Dockerfile
  scripts/libunwind_build.sh
  scripts/prepare_machine-unknown-linux-musl.sh
Labels: build

#540 Avoid using const multiple times for one variable in nodejs profiler
  gprofiler/profilers/node.py
Labels: runtime/nodejs

#535 Increase duration of gprofiler container in test_from_container_spawned_process test
  tests/test_sanity.py
Labels: tests

#515 windows: Utils
  gprofiler/main.py
  gprofiler/metadata/application_identifiers.py
  gprofiler/metadata/application_identifiers_java.py
  gprofiler/metadata/application_metadata.py
  gprofiler/metadata/base_application_identifier.py
  gprofiler/metadata/system_metadata.py
  gprofiler/platform.py
  gprofiler/profilers/__init__.py
  gprofiler/profilers/python.py
  gprofiler/utils/__init__.py
  gprofiler/utils/process.py
  mypy.ini
  pyi.Dockerfile
  pyinstaller.spec
  requirements.txt
  scripts/check_pyinstaller.sh
Labels: windows

#542 deploy: ecs: Update task definition resources
  deploy/ecs/gprofiler_task_definition.json
Labels: deployment

#549 docs: Document our collapsed format
  README.md
Labels: documentation

#543 Add matrix tests nodejs
  gprofiler/profilers/node.py
  tests/conftest.py
  tests/containers/nodejs/Dockerfile
  tests/test_node.py
Labels: runtime/nodejs

#556 Remove total_samples
  gprofiler/client.py
  gprofiler/main.py
  gprofiler/merge.py
Labels: enhancement

#558 java: Remove async-profiler "buildids" support
  gprofiler/profilers/java.py
  scripts/async_profiler_build_shared.sh
  tests/test_java.py
  tests/utils.py
Labels: runtime/java

#561 Fix flaky NodeJS tests
  gprofiler/profilers/node.py
  tests/containers/nodejs/fibonacci.js
Labels: runtime/nodejs

#491 Introduce and test reporting DSO names in perf and java-ap stack profiles.
  gprofiler/main.py
  gprofiler/merge.py
  gprofiler/profilers/dotnet.py
  gprofiler/profilers/factory.py
  gprofiler/profilers/java.py
  gprofiler/profilers/perf.py
  gprofiler/profilers/php.py
  gprofiler/profilers/profiler_base.py
  gprofiler/profilers/python.py
  gprofiler/profilers/python_ebpf.py
  gprofiler/profilers/ruby.py
  scripts/async_profiler_build_shared.sh
  tests/conftest.py
  tests/test_java.py
  tests/test_merge.py
  tests/test_node.py
  tests/test_perf.py
  tests/test_python.py
  tests/test_sanity.py
  tests/utils.py
Labels: enhancement

#547 nodejs: Allow running two processes in the same net namespace
  gprofiler/profilers/node.py
  tests/containers/nodejs/Dockerfile
  tests/test_node.py
Labels: runtime/nodejs

#568 ci: Fix black not failing the CI & shellcheck all shell files
  deploy/dataproc/gprofiler_initialization_action.sh
  deploy/systemd/create_systemd_service.sh
  gprofiler/profilers/node.py
  lint.sh
  shell_lint.sh
  tests/test.sh
Labels: ci
