Repository Granulate/gprofiler, pull requests merged in 2022-01, with the labels that each got.

#251 Python: Make packages info representation more distinguishable
  gprofiler/profilers/python.py
  tests/test_sanity.py
Labels: enhancement, Runtime/Python

#242 Feature/Application Names
  .flake8
  gprofiler/main.py
  gprofiler/merge.py
  gprofiler/metadata/application_identifiers.py
  tests/conftest.py
  tests/containers/java/Dockerfile
  tests/containers/java/MANIFEST.MF
  tests/containers/java/musl.Dockerfile
  tests/containers/python/Dockerfile
  tests/test_sanity.py
Labels: enhancement

#256 java: Add JDK 17 to supported versions
  gprofiler/profilers/java.py
Labels: Runtime/Java

#255 python: Upgrade PyPerf & run the CI on Python 3.10
  .github/workflows/build-container-and-test.yml
  scripts/pyperf_build.sh
Labels: Runtime/Python

#248 java: Expand --java-safemode into a set of options
  gprofiler/profilers/java.py
  gprofiler/profilers/registry.py
  tests/test_java.py
  tests/test_sanity.py
Labels: enhancement, Runtime/Java

#254 java: Disable profiling (safemode) on proc_events signals
  gprofiler/profilers/java.py
Labels: Runtime/Java

#258 app ids: Keep original frame
  gprofiler/merge.py
  gprofiler/metadata/application_identifiers.py
Labels: enhancement

#260 gProfiler 1.2.12 + small bugfix
  gprofiler/__init__.py
  gprofiler/merge.py
  gprofiler/metadata/application_identifiers.py
Labels: bug

#266 python: pyperf: Restart PyPerf if it fails
  gprofiler/profilers/python.py
Labels: Runtime/Python

#264 java: Upgrade async-profiler to v2.6g1
  gprofiler/profilers/java.py
  scripts/async_profiler_build_shared.sh
Labels: Runtime/Java

#261 docs: Improve & organize installation docs, add Databricks
  README.md
  deploy/dataflow/setup.py
Labels: documentation

#263 java: Show a "profiling skipped" stack when profiling is skipped for a process
  gprofiler/profilers/java.py
  tests/test_java.py
  tests/test_sanity.py
  tests/utils.py
Labels: enhancement, Runtime/Java

#262 java: Add --java-async-profiler-args, allowing to send arbitrary extra args to AP
  gprofiler/profilers/java.py
  tests/test_java.py
  tests/test_sanity.py
Labels: Runtime/Java

#270 java: Set --java-async-profiler-safemode=0 by default
  gprofiler/profilers/java.py
Labels: Runtime/Java

#272 java: Strip unrelated output prefix lines in "java -version"
  gprofiler/profilers/java.py
Labels: Runtime/Java

#238 Add timeouts to run_process() invocations
  gprofiler/exceptions.py
  gprofiler/main.py
  gprofiler/profilers/java.py
  gprofiler/profilers/python.py
  gprofiler/profilers/ruby.py
  gprofiler/utils.py
  tests/test_java.py
Labels: enhancement

#275 docs: Document build requirements
  README.md
Labels: documentation

#265 java: Use AP timeouts & read output file upon process exit
  gprofiler/main.py
  gprofiler/profilers/java.py
  gprofiler/profilers/python.py
  gprofiler/utils.py
  tests/conftest.py
  tests/test_java.py
  tests/test_sanity.py
  tests/utils.py
Labels: enhancement, Runtime/Java

#276 java: Add the "AP DSO was loaded" into JattachException
  gprofiler/profilers/java.py
Labels: enhancement

#277 Use process_exe() everywhere
  gprofiler/profilers/java.py
  gprofiler/profilers/python.py
  gprofiler/utils.py
Labels: bug

#267 java: async-profiler: Set default mode to "cpu"
  gprofiler/profilers/java.py
  gprofiler/profilers/perf.py
  gprofiler/utils/__init__.py
  gprofiler/utils/perf.py
  tests/test_java.py
  tests/utils.py
Labels: Runtime/Java
