Repository Granulate/gprofiler, pull requests merged in 2022-12, with the labels that each got.

#617 Feature/java async-profiler memory usage logging
  gprofiler/profilers/java.py
  scripts/async_profiler_build_shared.sh
  tests/test_java.py
  tests/utils.py
Labels: enhancement, runtime/java

#579 Report dso from pyperf
  gprofiler/profilers/python_ebpf.py
  scripts/pyperf_build.sh
  tests/test_python.py
Labels: runtime/python

#632 tests: php: Skip php tests that target host process
  tests/test_sanity.py
Labels: runtime/php, tests

#629 java: Improve Zing version pattern
  gprofiler/profilers/java.py
Labels: runtime/java

#613 perf: Restart perf every 60 minutes if perf used memory exceeds 512 MB
  gprofiler/profilers/perf.py
  tests/test_node.py
  tests/test_perf.py
  tests/test_sanity.py
Labels: runtime/perf

#635 Standardize types in exceptions.py a bit
  gprofiler/exceptions.py
Labels: enhancement

#396 Upgrade py-spy v0.3.12, rbspy v0.12.1
  CONTRIBUTING.md
  Dockerfile
  gprofiler/profilers/ruby.py
  pyi.Dockerfile
  scripts/build_aarch64_container.sh
  scripts/build_aarch64_executable.sh
  scripts/build_x86_64_executable.sh
  scripts/libunwind_build.sh
  scripts/prepare_machine-unknown-linux-musl.sh
  scripts/pyspy_build.sh
  scripts/pyspy_commit.txt
  scripts/pyspy_tag.txt
  scripts/rbspy_build.sh
Labels: enhancement, runtime/python, runtime/ruby

#634 python: Log PyPerf stdout+stderr after a restart
  gprofiler/profilers/python.py
  gprofiler/profilers/python_ebpf.py
Labels: runtime/python

#641 java: Upgrade async-profiler to v2.9g4
  scripts/async_profiler_build_shared.sh
Labels: runtime/java

#645 Add "profiling_mode" to metadata outside of metadata_collector
  gprofiler/main.py
  gprofiler/metadata/metadata_collector.py
Labels: bug

#646 Upgrade setuptools
  requirements.txt
Labels: enhancement
