Repository Granulate/gprofiler, pull requests merged in 2023-06, with the labels that each got.

#796 Upgrade PyPerf to support Python 3.11
  scripts/pyperf_build.sh
  tests/test_python.py
Labels: runtime/python

#753 perf: Correctly parse frames with " (" in them
  gprofiler/profilers/perf.py
  tests/test_perf.py
Labels: bug, runtime/perf

#637 python: Upgrade PyPerf with https://github.com/Granulate/bcc/pull/43
  scripts/pyperf_build.sh
Labels: runtime/python

#818 docs: Explain about golang profiling
  README.md
Labels: documentation
