Repository Granulate/gprofiler, pull requests merged in 2023-08, with the labels that each got.

#821 Add option to include line numbers and implement it in async-profiler
  gprofiler/profilers/java.py
  scripts/async_profiler_build_shared.sh
  tests/test_java.py
  tests/utils.py
Labels: runtime/java

#831 Support extracting java version for non-java named processes
  gprofiler/profilers/java.py
  tests/test_java.py
Labels: runtime/java

#790 Consolidate image & executable build into exe-in-image
  .dockerignore
  .github/workflows/build-container-and-deploy.yml
  .github/workflows/build-container-and-test.yml
  .github/workflows/build-executable-test-deploy.yml
  .github/workflows/build-test-deploy.yml
  .github/workflows/linters.yml
  Dockerfile
  container.Dockerfile
  dockerfile_lint.sh
  executable.Dockerfile
  gprofiler/main.py
  scripts/build_aarch64_container.sh
  scripts/build_aarch64_executable.sh
  scripts/build_x86_64_container.sh
  scripts/build_x86_64_executable.sh
  tests/test.sh
  tests/test_app_metadata.py
  tests/test_executable.py
  tests/test_sanity.py
  tests/utils.py
Labels: enhancement

#842 build: Small fixes in CI file
  .github/workflows/build-test-deploy.yml
  tests/conftest.py
Labels: build

#847 build: Upgrade zlib to 1.3
  scripts/prepare_machine-unknown-linux-musl.sh
Labels: build

#850 Use BuildKit via "docker buildx" everywhere
  .github/workflows/build-test-deploy.yml
  scripts/build_aarch64_container.sh
  scripts/build_x86_64_container.sh
  scripts/build_x86_64_executable.sh
Labels: build
