Repository Granulate/gprofiler, pull requests merged in 2023-02, with the labels that each got.

#664 Add test for zero stray output from java async-proviler
  tests/containers/java/Fibonacci.java
  tests/test_java.py
Labels: runtime/java, tests

#658 gProfiler Spark implementation
  LICENSE.bsd3
  README.md
  gprofiler/client.py
  gprofiler/log.py
  gprofiler/main.py
  gprofiler/profilers/factory.py
  gprofiler/spark/__init__.py
  gprofiler/spark/metrics.py
  gprofiler/spark/spark_collector.py
  gprofiler/utils/fs.py
  gprofiler/utils/process.py
Labels: spark metrics

#678 dataproc: collect Spark metrics when spark-metrics attribute is 1
  deploy/dataproc/gprofiler_initialization_action.sh
Labels: spark metrics

#631 java: Include "Problematic frame" from hserr
  gprofiler/profilers/java.py
Labels: runtime/java

#665 java: Gracefully handle exited Java process upon JattachException
  gprofiler/profilers/java.py
Labels: runtime/java

#671 perf: Remove perf.data & perf.inject intermediates output also when "perf inject/script" fail
  gprofiler/profilers/perf.py
Labels: enhancement

#668 Refactor profiler state parameters to separate object
  gprofiler/main.py
  gprofiler/profiler_state.py
  gprofiler/profilers/dotnet.py
  gprofiler/profilers/factory.py
  gprofiler/profilers/java.py
  gprofiler/profilers/perf.py
  gprofiler/profilers/php.py
  gprofiler/profilers/profiler_base.py
  gprofiler/profilers/python.py
  gprofiler/profilers/python_ebpf.py
  gprofiler/profilers/ruby.py
  tests/conftest.py
  tests/test_java.py
  tests/test_node.py
  tests/test_perf.py
  tests/test_python.py
  tests/test_sanity.py
  tests/utils.py
Labels: enhancement

#638 utils: Nicer process start/exit logs
  gprofiler/utils/__init__.py
  tests/test_java.py
  tests/utils.py
Labels: enhancement

#680 Add static bootstrap action for AWS EMR
  README.md
  deploy/emr/add_bootstrap_action.png
  deploy/emr/bootstrap_actions.png
  deploy/emr/gprofiler_action.sh
Labels: documentation, deployment

#686 docs: Clarify SYS_PTRACE need on Fargate installations
  README.md
Labels: documentation

#681 Disabled spark_collector applications metrics by default
  gprofiler/spark/spark_collector.py
Labels: spark metrics

#682 Disable .NET profiler by default
  README.md
  gprofiler/profilers/dotnet.py
  tests/conftest.py
Labels: runtime/dotnet

#694 spark: Send hostname header
  gprofiler/client.py
Labels: spark metrics

#689 spark: Retry finding master address
  gprofiler/spark/spark_collector.py
Labels: bug, spark metrics

#647 Windows CI
  .github/workflows/build-on-windows.yml
  scripts/windows/build-pyspy.bat
  scripts/windows/build.bat
Labels: windows

#698 tests: dotnet: xfail test_executable_not_privileged
  tests/test_app_metadata.py
  tests/test_executable.py
  tests/test_sanity.py
Labels: tests, runtime/dotnet

#695 additional dependency for dotnet
  Dockerfile
  pyi.Dockerfile
  scripts/dotnet_prepare_dependencies.sh
  scripts/dotnet_trace_dependencies.txt
  tests/test_app_metadata.py
  tests/test_executable.py
  tests/test_sanity.py
Labels: runtime/dotnet

#702 Application identifiers refactored
  gprofiler/metadata/application_identifiers.py
Labels: bug

#703 bigdata: detect provider and version
  gprofiler/metadata/bigdata/__init__.py
  gprofiler/metadata/bigdata/databricks.py
  gprofiler/metadata/bigdata/dataproc.py
  gprofiler/metadata/bigdata/emr.py
  gprofiler/metadata/metadata_collector.py
  tests/test_bigdata.py
Labels: bigdata-metrics

#690 Windows enable flamegraphs
  Dockerfile
  gprofiler/main.py
  pyi.Dockerfile
  scripts/burn_build.sh
  scripts/burn_version.txt
  scripts/windows/build.bat
  scripts/windows/burn_build.bat
Labels: windows

#667 Move getting container name to _profile_process function, expand ProfileData with container_name property
  gprofiler/gprofiler_types.py
  gprofiler/main.py
  gprofiler/merge.py
  gprofiler/profiler_state.py
  gprofiler/profilers/dotnet.py
  gprofiler/profilers/java.py
  gprofiler/profilers/perf.py
  gprofiler/profilers/php.py
  gprofiler/profilers/profiler_base.py
  gprofiler/profilers/python.py
  gprofiler/profilers/python_ebpf.py
  gprofiler/profilers/ruby.py
  tests/conftest.py
  tests/test_merge.py
  tests/test_perf.py
  tests/test_sanity.py
Labels: enhancement

#706 docs: Improve build docs
  CONTRIBUTING.md
  README.md
Labels: documentation

#642 dotnet profiler on windows
  gprofiler/profilers/__init__.py
  gprofiler/profilers/dotnet.py
  scripts/dotnet_prepare_dependencies.sh
  scripts/dotnet_trace_dependencies.txt
  scripts/windows/build.bat
  scripts/windows/build_dotnet_trace.bat
Labels: windows, runtime/dotnet
