Repository Granulate/gprofiler, pull requests merged in 2023-03, with the labels that each got.

#624 Enable building glibc on aarch64
  Dockerfile
  pyi.Dockerfile
  scripts/build_aarch64_container.sh
  scripts/build_aarch64_executable.sh
  scripts/build_node_package.sh
  scripts/build_x86_64_executable.sh
  scripts/fix_centos8.sh
  scripts/node_builder_glibc_env.sh
Labels: runtime/nodejs

#705 Cleanup merge.py file
  gprofiler/merge.py
  gprofiler/profilers/java.py
  gprofiler/profilers/perf.py
  gprofiler/profilers/python.py
  gprofiler/profilers/python_ebpf.py
  gprofiler/profilers/ruby.py
  gprofiler/utils/collapsed_format.py
  tests/test_app_metadata.py
  tests/test_executable.py
  tests/test_merge.py
  tests/test_node.py
  tests/test_perf.py
  tests/test_profiling_mode.py
  tests/test_sanity.py
Labels: enhancement

#710 metrics: Fix timestamp
  gprofiler/spark/spark_collector.py
Labels: spark metrics

#724 metrics: Send samples per series instead of per metric name
  gprofiler/client.py
  gprofiler/metrics/__init__.py
  gprofiler/spark/spark_collector.py
Labels: bigdata-metrics

#726 metrics: Move SparkSampler to separate module
  gprofiler/main.py
  gprofiler/spark/collector.py
  gprofiler/spark/mode.py
  gprofiler/spark/sampler.py
Labels: spark metrics

#712 java: Add option to include method modifiers
  gprofiler/profilers/java.py
  scripts/async_profiler_build_shared.sh
  tests/test_java.py
  tests/utils.py
Labels: runtime/java

#708 python: pyperf: Allow controlling PyPerf verbosity
  gprofiler/profilers/python.py
  gprofiler/profilers/python_ebpf.py
  tests/test_python.py
  tests/test_sanity.py
Labels: runtime/python

#728 Upgrade py-spy to v0.3.14 (which supports Python 3.11)
  Dockerfile
  scripts/build_aarch64_container.sh
  scripts/build_aarch64_executable.sh
  scripts/build_x86_64_executable.sh
  scripts/pyspy_commit.txt
  scripts/pyspy_tag.txt
  tests/conftest.py
  tests/test_python.py
Labels: runtime/python

#718 Support SA mode and low cardinality
  dev-requirements.txt
  gprofiler/spark/collector.py
  gprofiler/spark/metrics.py
  gprofiler/spark/mode.py
  gprofiler/spark/sampler.py
  requirements.txt
Labels: bigdata-metrics

#716 aarch64 java tests
  tests/conftest.py
  tests/containers/java/Dockerfile
  tests/test.sh
  tests/test_app_metadata.py
  tests/test_java.py
  tests/utils.py
Labels: runtime/java, tests, aarch64

#748 Avoid using subprocess.Popen.wait()
  gprofiler/profilers/perf.py
  gprofiler/profilers/php.py
  gprofiler/profilers/python_ebpf.py
  gprofiler/utils/__init__.py
Labels: bug, enhancement

#729 metrics: send time as ISO8601
  gprofiler/client.py
Labels: spark metrics

#709 aarch64 python tests
  tests/conftest.py
  tests/test_app_metadata.py
  tests/test_python.py
  tests/test_sanity.py
Labels: runtime/python, tests, aarch64

#719 java: Add option to collect full hserr
  gprofiler/profilers/java.py
  tests/test_java.py
  tests/utils.py
Labels: runtime/java
